<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="EFW_plugin.commands.category">
      </category>
      <command
            name="Java Analyze"
            categoryId="EFW_plugin.commands.category"
            id="EFW_plugin.commands.javaCommand">
      </command>
      <command
            name="CPP Analyze"
            categoryId="EFW_plugin.commands.category"
            id="EFW_plugin.commands.cppCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="EFW_plugin.commands.javaCommand"
            class="efw_plugin.handlers.EFDhandler">
      </handler>
      <handler
            commandId="EFW_plugin.commands.cppCommand"
            class="efw_plugin.handlers.EFD_handler_cpp">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="EFW_plugin.commands.javaCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="EFW_plugin.commands.cppCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="EFD Analyze"
               mnemonic="M"
               id="EFW_plugin.menus.sampleMenu">
            <command
                  commandId="EFW_plugin.commands.javaCommand"
                  mnemonic="S"
                  id="EFW_plugin.menus.javaCommand">
            </command>
            <command
                  commandId="EFW_plugin.commands.cppCommand"
                  mnemonic="S"
                  id="EFW_plugin.menus.cppCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="EFW_plugin.toolbars.sampleToolbar">
            <command
                  commandId="EFW_plugin.commands.javaCommand"
                  icon="icons/sample.gif"
                  tooltip="EFD plugin for java"
                  id="EFW_plugin.toolbars.sampleCommand">
            </command>
            <command
                  commandId="EFW_plugin.commands.cppCommand"
                  icon="icons/sample.gif"
                  tooltip="EFD plugin for cpp"
                  id="EFW_plugin.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>   
	
	<extension
         id="EFDMarker_1.Marker"
         name="EFD Marker 1"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="EFDMarker_1.Marker.MyAnnotation"
            
            icon="icons/icon1.gif"
            includeOnPreferencePage="true"
            label="MyAnnotation1"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="DASHED_BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="EFDMarker_1.Marker"
            name="EFDMarker_1.Marker.MyAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="markers_java.DegreeMarker"
            markerType="EFDMarker_1.Marker">
      </markerResolutionGenerator>
   </extension>
   
   <extension
         id="EFDMarker_2.Marker"
         name="EFD Marker 2"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="EFDMarker_2.Marker.MyAnnotation"
            
            icon="icons/icon2.gif"
            includeOnPreferencePage="true"
            label="MyAnnotation2"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="DASHED_BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="EFDMarker_2.Marker"
            name="EFDMarker_2.Marker.MyAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="markers_java.DegreeMarker"
            markerType="EFDMarker_2.Marker">
      </markerResolutionGenerator>
   </extension>
   
   <extension
         id="EFDMarker_3.Marker"
         name="EFD Marker 3"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="EFDMarker_3.Marker.MyAnnotation"
            
            
            icon="icons/icon3.gif"
            includeOnPreferencePage="true"
            label="MyAnnotation3"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="DASHED_BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="EFDMarker_3.Marker"
            name="EFDMarker_3.Marker.MyAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="markers_java.DegreeMarker"
            markerType="EFDMarker_3.Marker">
      </markerResolutionGenerator>
   </extension>
   
   <extension
         id="EFDMarker_4.Marker"
         name="EFD Marker 4"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="EFDMarker_4.Marker.MyAnnotation"
            
            
            icon="icons/icon4.gif"
            includeOnPreferencePage="true"
            label="MyAnnotation4"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="DASHED_BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="EFDMarker_4.Marker"
            name="EFDMarker_4.Marker.MyAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="markers_java.DegreeMarker"
            markerType="EFDMarker_4.Marker">
      </markerResolutionGenerator>
   </extension>
   
   
 <extension
         id="EFDMarker_5.Marker"
         name="EFD Marker 5"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="EFDMarker_5.Marker.MyAnnotation"
            
            
            icon="icons/icon5.gif"
            includeOnPreferencePage="true"
            label="MyAnnotation5"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="DASHED_BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="EFDMarker_5.Marker"
            name="EFDMarker_5.Marker.MyAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="markers_java.DegreeMarker"
            markerType="EFDMarker_5.Marker">
      </markerResolutionGenerator>
   </extension> 
  
  
</plugin>
